/* div{
  border-radius: 5px;
}


.panelsuperior{
  display: inline-block;
  float: right;
  width: 100px;
  height: 100px;
  background: red;
  color: white;
}

.delay{
  width:20px;
  height:100px;
  float:top;
  margin:10px 0px 0px 5px;
} */

@media screen and (orientation: portrait) {
  main{
    width: auto;
    height: 600px;
  }
}

/* For landscape, we want the tool bar stick on the left */
@media screen and (orientation: landscape) {
  main{
    width: 600px;
    height: auto;
  }
}

#contsuperior{
  height: 20%;
  position: top;
  border: 1px solid black;
}

#continferior{
  height: 80%;
  position: top;
  /* margin-top: 100px; */
  border: 1px solid red;
}

#controlsuperior div {
  /* height: 100px; */
  margin: 10px;
  float: left;
  position: relative;
}
